
.rating-target {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.rating-target__title {
  margin-bottom: 10px;
}

.star-radio {
  display: none;
}

.star {
  font-size: 2em;
  cursor: pointer;
  transition: color 0.2s;
}