.header {
  background-color: white;
  text-align: center;
  display: flex;
  max-height: 100px;

  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--secondary);
  padding: 10px;
}

.left-container {
  display: flex;
  align-items: center;
  width: 20%;
}

.left-container .lines {
  width: 100%;
  height: 100%;
  max-width: 60px;
  max-height: 22px;
  cursor: pointer;
}



.left-container .logo {
  width: 100%;
  height: 100%;
  max-width: 195px;
  max-height: 97px;
}

.right-container {
  display: flex;
  justify-content: space-between;
  width: 15%;
  padding: 0 2rem;
}

.right-container .menu {
  width: 100%;
  height: 100%;
  max-height: 30px;
  cursor: pointer;
  list-style: none;
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 1.5rem;
}

.menu-profile {
  width: 100%;
  height: 100%;
  max-width: 40px;
  max-height: 40px;
  cursor: pointer;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;

}


.menu-profile img {
  width: 100%;
  height: 100%;
  max-width: 500px;
  max-height: 108px;
}



.center-container {
  display: flex;
  width: 20%;
  height: 100%;
  min-height: 30px;
  align-items: center;
  gap: 1rem;
}

.center-container .input-search {
  width: 100%;
  height: 100%;
  min-height: 30px;
  border-radius: 10px;
  background-color: white;
  border: 1px solid var(--secondary);
  font-size: 16px;
  padding: 0 10px;
  font-family: var(--primary-font);
}

.center-container .btn-search {
  width: 100%;
  height: 100%;
  max-width: 30px;
  max-height: 30px;
  border-radius: 5px;
  background-color: white;
  font-size: 16px;
  font-family: var(--primary-font);
  cursor: pointer;
}

.center-container .btn-search img {
  width: 100%;
  height: 100%;
  max-width: 20px;
  max-height: 20px;
}


/* hacemos que sea resposive con media querys */

@media screen and (max-width: 768px) {
  .left-container .logo {
    height: 100%;
    max-height: 50px;    
  }

  .left-container {
    width: 45%;
  }

  .header {
    height: 10vh;
  }

  .center-container {
    width: 50%;
  }

  .center-container .input-search{
    height: 60%;
  }

  .right-container {
    display: none;
  }
  
}