

.categories__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 80%;
}

.categories__label {
  font-size: 1rem;
  color: var(--secondary);
  text-decoration: none;
  padding: 1rem;
  border-left: 1px solid var(--secondary);
  border-right: 1px solid var(--secondary);

}

.categories__label:hover {
  color: var(--primary);
  transition: all 0.3s ease-in-out;
}