.recipe-target-container-target {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 2rem;
  justify-items: center;
  padding-bottom: 2rem;
  /* border: 2px solid transparent; */
  border-bottom: 2px solid black;
  /* border-radius: 20px; */
  transition: scale 0.3s ease-in-out;

}

.recipe-target-container-target:hover {
  background-color: #ffffffc0;
  /* border: 2px solid black; */
  scale: 1.05;
  cursor: pointer;
  transition: scale 0.3s ease-in-out;
}


.recipe-target-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}

.logo-info {
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 2rem;
  gap: 1rem;
}



.logo-info img {
  width: 50px;
  height: 50px;
}




.recipe-target-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* definimos que todas la imagenes tengan el mismo tamaño */
.recipe-target-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}