.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}



.recipe-container {
  display: flex;
  flex-direction: row;
  width: 80%;
  padding: 2rem;
  margin: 0 auto;
}

.recipe-body-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.recipe-column {
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.recipe-title {
  font-size: 4rem;
  font-weight: 700;
  margin: 1rem 0;
}

.recipe-subtitle {
  font-size: 2rem;
  font-weight: 700;
  margin: 1rem 0;
}

.recipe-ingredients-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.recipe-ingredient {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem 0;

}


.recipe-info {
  display: grid;
  /* ponemos que se ponga todos los que entren y si no que bajen
   */
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 1rem;
}





.recipe-ingredients {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
}

.recipe-instructions-container {
  grid-area: instructions;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



.recipe-innstructions-step {
  font-size: 1.5rem;
  margin: 1rem 0;

}

.recipe-image-container {
  grid-area: image;
  display: flex;
  justify-content: center;
  align-items: center;

}

.recipe-image {
  width: 100%;
}

.recipe-instructions-step-number {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 1rem 0;
}

.recipe-instructions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
}