.recipe-target-container-target {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 2rem;
  justify-items: left;
  align-items: left;
  padding-bottom: 2rem;
  transition: scale 0.2s ease-in-out;
  width: 65rem;
  max-height: 40rem;
  margin-top: 2rem;
}

.recipe-target-container-target:hover {
  background-color: #ffffffc0;
  /* border: 2px solid black; */
  scale: 1.05;
  cursor: pointer;
  transition: scale 0.2s ease-in-out;
}


.recipe-target-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.logo-info {
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 2rem;
  gap: 1rem;
}



.logo-info img {
  width: 50px;
  height: 50px;
}




.recipe-target-image-container {
  width: 30rem;
  height: 20rem;
}

/* definimos que todas la imagenes tengan el mismo tamaño */
.recipe-target-image-container img {
  display: flex;

  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}