.recipe-container{
  width: 75%;
  margin: 0 auto;
  padding: 2rem 0;
}

.recipe-title {
  font-size: 3.5rem;
  font-weight: bold;
  text-align: center;
}

.recipe-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.recipe-ingredients-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.recipe-subtitle {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  text-align: center;
}



.recipe-ingredients-list-item {
  font-size: 1.5rem;
  text-align: center;
}

.recipe-body-container {
  margin: 2rem 0;
  display: flex;
  justify-content: space-between;
}

.recipe-image {
  width: 50%;

}

.recipe-image img {
  width: 100%;
  border-radius: 10px;
}

.recipe-rating {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}