.principal-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.upload-recipe-form-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 80%;
  height: 55rem;
  gap: 5rem;
}

.form-upload-recipe-left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form-upload-recipe-right {
  display: flex;
  justify-content: left;
  align-items: left;
  flex-direction: column;

}



.upload-recipe-form-container__left-container p {
  font-size: 1.5rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
}

.upload-recipe-form-container__right-container p {
  font-size: 1.5rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
}

.input-error-group-upload-recipe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 300px;
  gap: 1rem;
}

.input-error-group-upload-recipe label {
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 1.5rem;
}

.input-error-group-upload-recipe .title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 1.5rem;
  margin-bottom: 0.1rem;
}

button.active {
  background-color: var(--primary);
  color: white;
}

.recipe-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
}

.recipe-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.form-group-postrecipe button {
  margin-top: 7rem;
  margin-bottom: 5rem;
  display: flex;
  width: auto;
  height: 3rem;
  padding: 0 1rem;
  border-radius: 0.5rem;
  border: none;
  background-color: var(--secondary);
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}



.form-group-postrecipe button:hover {
  background-color: white;
  color: var(--secondary);
  border: 1px solid var(--secondary);
  transition: ease-in-out 0.3s;
}

.form-group-difficulty {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}


.difficulty button {
  margin-top: 1rem;
  flex-direction: row;
  height: 3rem;
  padding: 1rem;
  margin: 2rem;
  border-radius: 0.5rem;
  border: none;
  background-color: var(--secondary);
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  transition: ease-in-out 0.3s;
}


.difficulty button:hover {
  background-color: var(--primary);
  color: var(--secondary);
  border: rgba(255, 0, 0, 0);
  transition: ease-in-out 0.3s;
}

.difficulty button.active {
  color: var(--secondary);
  background-color: var(--primary);
}

.input-step {
  height: 2rem;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  font-size: 1rem;
  padding: 0 1rem;
}

.delete-step {
  height: 2rem;
  width: 8rem;
  margin: 1rem;
  border-radius: 0.5rem;
  border: 1px solid black;
  background-color: #ac1919;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.delete-step:hover {
  background-color: white;
  border: 1px solid var(--secondary);
  color: #ac1919;
  transition: ease-in-out 0.2s;
}

.add-step {
  height: 2rem;
  width: 8rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  background-color: var(--secondary);
  color: #fff;
  
  border: 1px solid transparent;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.add-step:hover {
  background-color: white;
  color: var(--secondary);
  border: 1px solid var(--secondary);

  transition: ease-in-out 0.2s;
}



.buscador-ingrediente {
  height: 2rem;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  font-size: 1rem;
  padding: 0 1rem;

}

.input-ingredient {
  margin-top: 1rem;
}


.upload-image {
  border-radius: 5px;
  padding: 10px;
}

/* Oculta el input de archivo original */
.upload-image {
  display: none;
}

.upload-image-label {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1rem;
  padding: 1rem;
  background-color: var(--secondary);
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.container-ingredients {
  margin-top: 1rem;
  margin-bottom: 1rem;
  height: 400px;
  width: 500px;
  display: flex;
  flex-direction: column;
}

.container-ingredients .buscador-ingrediente{
  margin-left: 2rem;
  margin-right: 2rem;
}


.ingredients {
  margin-top: 1rem;
  max-height: 200px;
  overflow-y: scroll;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


.ingredients input {
  transform: scale(0.3);
}

.input-category {
  display: none;
}

.input-category + label {
  padding: 10px;
  border: 1px solid var(--secondary);
  background-color: var(--secondary);
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  cursor: pointer;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  transition: ease-in-out 0.3s;
}

.input-category + label:hover {
  background-color: var(--primary);
  color: var(--secondary);
  border: 1px solid transparent;
  transition: ease-in-out 0.3s;
}


.input-category:checked + label {
  background-color: var(--primary);
  color: #000000;
  border: 1px solid transparent;
}

.categories-selector__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin-top: 1rem;
}

.input-ingredient {
  display: none; /* Oculta el checkbox */
}


.form-group.ingredients {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding: 1rem;
}

.input-ingredient + label {
  padding: 10px;
  border: 1px solid var(--secondary);
  background-color: var(--secondary);
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  cursor: pointer;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  transition: ease-in-out 0.3s;
}

.input-ingredient + label:hover {
  background-color: var(--primary);
  color: var(--secondary);
  border: 1px solid transparent;
  transition: ease-in-out 0.3s;
}


.input-ingredient:checked + label {
  background-color: var(--primary);
  color: #000000;
  border: 1px solid transparent;
}